@use "../utils" as *;


.shop__now-small-btn {
	color: #fff;
	background: var(--st-theme-1);
	padding: 4px 16px;
	font-weight: 600;
	border-radius: 7px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 15px;
	@media #{$xs,$sm}{
		font-size: 14px;
		width: 102px;
	}
	&:hover{
		color: var(--st-heading-primary);
	}
}
.view__categories-btn{
    color: #fff;
	background: var(--st-common-white);
	padding: 16px 44px;
	font-weight: 600;
	border-radius: 7px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 15px;
    color: var(--st-theme-1);
    border: 1px solid var(--st-theme-1);
	@media #{$xs,$sm}{
		font-size: 14px;
		width: 102px;
	}
	&:hover{
		color: var(--st-common-white);
        background: var(--st-theme-1);
	}
}


//Discount Banner Css Start Here

.discount__banner{
    .discount__banner-wrapper{
       padding: 80px 60px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       @media #{$lg,$sm,$xs}{
        padding: 40px 30px;
    }
    @media #{$md, $sm, $xs}{
        margin-bottom: 30px;
    }
       h4{
        margin: 0;
       }
       p{
        width: 52%;
        color: #70747D;
        font-weight: 400;
        margin-top: 17px;
        margin-bottom: 28px;
        @media #{$xl}{
            width: 70%;
        }
        @media #{$lg,$md,$sm,$xs}{
            width: 80%;
        }
       }
    }
}


//Shop By Categorys CSS Start HEre 
.category-v3{
    .cat__title{
        margin-bottom: 70px;
        .section__title span {
            margin-bottom: 16px;
        }
        .view__categories-btn-wrapper{
            @media #{$sm,$xs}{
                text-align: start  !important;
            }
        }
    }
    .cat__v3-wrapper{
        .cat__3{
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            padding: 20px;
            .cat__3-img{
                margin-top: -40px;
                img{
                    width: 100%;
                }
            }
            .cat__3-name{
                margin-left: 20px;
                h6{
                    margin-bottom: 8px;
                }
                span{
                    color: #70747D;
                }
            }
        }
    }
}