@use "../utils" as *;

.simple__btn-v3{
    color: var(--st-theme-1);
}
.view__btn-v3{
    color: var(--st-theme-1);
	background: var(--st-common-white);
	padding: 10px 24px;
	font-weight: 600;
	border-radius: 7px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 15px;
    border: 1px solid var(--st-theme-1);
	@media #{$xs,$sm}{
		font-size: 14px;
		width: 102px;
	}
	&:hover{
		color: var(--st-heading-primary);
	}
}
.shop__now-small-btn {
	color: #fff;
	background: var(--st-theme-1);
	padding: 4px 16px;
	font-weight: 600;
	border-radius: 7px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 15px;
	@media #{$xs,$sm}{
		font-size: 14px;
		width: 102px;
	}
	&:hover{
		color: var(--st-heading-primary);
	}
}
.shop__btn-v3{
	background-color:  var(--st-theme-1);
	color: var(--st-common-white);
	border: 1px solid var(--st-theme-1);
	font-size: 18px;
	line-height: 27px;
	padding: 12px 36px;
	font-weight: 600;
	border-radius: 7px;
	transition: border .4s ease-in-out, color .4s ease-in-out, background-color .4s ease-in-out !important;
	&:hover{
		border-color: var(--st-theme-1);
		background-color: var(--st-common-white);
		color: var(--st-theme-1);
	}
}
.view__categories-btn{
    color: #fff;
	background: var(--st-common-white);
	padding: 16px 44px;
	font-weight: 600;
	border-radius: 7px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 15px;
    color: var(--st-theme-1);
    border: 1px solid var(--st-theme-1);
	@media #{$xs,$sm}{
		font-size: 14px;
		width: 102px;
	}
	&:hover{
		color: var(--st-common-white);
        background: var(--st-theme-1);
	}
}


//Discount Banner Css Start Here
.discount__banner{
    .discount__banner-wrapper{
       padding: 80px 60px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       @media #{$lg,$sm,$xs}{
        padding: 40px 30px;
    }
    @media #{$md, $sm, $xs}{
        margin-bottom: 30px;
    }
       h4{
        margin: 0;
       }
       p{
        width: 52%;
        color: #70747D;
        font-weight: 400;
        margin-top: 17px;
        margin-bottom: 28px;
        @media #{$xl}{
            width: 70%;
        }
        @media #{$lg,$md,$sm,$xs}{
            width: 80%;
        }
       }
    }
}


//Shop By Categorys CSS Start HEre 
.category-v3{
    .cat__title{
        margin-bottom: 70px;
        .section__title span {
            margin-bottom: 16px;
        }
        .view__categories-btn-wrapper{
            @media #{$sm,$xs}{
                text-align: start  !important;
            }
        }
    }
    .cat__v3-wrapper{
        .cat__3{
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            padding: 20px;
            .cat__3-img{
                margin-top: -40px;
                img{
                    width: 100%;
                }
            }
            .cat__3-name{
                margin-left: 20px;
                h6{
                    margin-bottom: 8px;
                }
                span{
                    color: #70747D;
                }
            }
        }
    }
}

//Blog Version 3 section Start Here
.blog__v3{
    margin-bottom: 80px;
    .section__title{
        .sub__title{
            margin-bottom: 16px !important;
        }
    }
    .blog__v3-wrapper{
        margin-top: 60px;
        margin-bottom: 60px;
        .single__blog{
            margin-right: 40px;
            .blog__image{
                position: relative;
                img{
                    width: 70%;
                    @media #{$xs}{
                        width: 100%;
                     }
                }
                .blog__v3-content{
                    position: absolute;
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                    background: #fff;
                    border-radius: 8px;
                    padding: 30px 28px;
                    width: 80%;
                    bottom: 20px;
                    right: -30px;
                    @media #{$xs}{
                       position: relative;
                       width: 100%;
                    }
                    @media #{$xl,$lg}{
                        padding: 20px;
                    }
                    .date__author{
                        margin-bottom: 8px;
                        .date{
                            p{
                                margin: 0;
                                font-size: 18px;
                                color: #70747D;
                                padding-left: 8px;
                                @media #{$xl,$lg,$sm,$xs}{
                                    font-size: 14px;
                                }
                            }
                        }
                        .author{
                            margin-left: 56px;
                            position: relative;
                            @media #{$xl,$lg,$sm,$xs}{
                                font-size: 14px;
                            }
                            &::before{
                                position: absolute;
                                content: '';
                                width: 8px;
                                height: 8px;
                                background: #A0A3A9;
                                border-radius: 50%;
                                left: -15px;
                                top: 5px;
                            }
                        }
                    }
                    .blog__title{
                        margin-bottom: 20px;
                        @media #{$xl,$lg,$sm,$xs}{
                            font-size: 20px;
                        }
                    }
                    .simple__btn-v3{
                        @media #{$xl,$lg,$sm,$xs}{
                            font-size: 14px;
                        }
                    }

                }
            }
        }
    }
}


//Slider V3 CSS Start Here
.slider__v3{
    background: #FAFAFB;

    .slider__main-wrapper{
        background-position:  top right, bottom right !important;
        background-repeat: no-repeat, no-repeat !important;
        .slider__left-image{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .slider__middle-wrapper{
            width: 40%;
            padding: 100px 80px;
            .section__title{
                .sub__title{
                    margin-bottom: 16px;
                }
                p{
                    margin-bottom: 40px;
                }
                .heroBtn__wrapper{
                    .shop__btn-v3{
                        margin-right: 40px;
                    }
                    .simple__button{
                        color: #70747D;
                        font-weight: 600;
                        margin-right: 12px;
                        &:hover{
                            color: var(--st-theme-1);
                        }
                    }
                    .play__btn{
                        font-size: 45px;
                        color: var(--st-theme-1);
                        transition: .3s;
                    }
                }
            }
            .slider__paginations{
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
        }
        .slider__single-card{
            .card__image{
                margin-top: 40px;
                img{
                    background: #FEEDE6;
                    width: 100%;
                    max-width: 340px;
                    border-radius: 12px 12px 0 0;
                }
            }
            .card__author{
                background: #fff;
                padding: 24px 32px;
                border-radius: 0px 0px 12px 12px;
                span{
                    font-size: 14px;
                }
                p{
                    font-weight: 600;
                    color: var(--st-heading-primary);
                }
            }
        }
    }

}