$colors: (
    common: (
        white: #ffffff,
        black: #000,
        black2: #111827,
       
    ),
    heading: (
        primary: #002366,
    ),
    grey: (
        1:#70747D,
        2:#414652,

    ),
    text: (
        body:#414652,
        1:#70747D,
    ),
    theme: (
        1: #F04A00, 
        2: #002366,
        button: rgba(218, 161, 76, 1),

    ),
    border: (
        1: #000,
    )
);
