$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #000248,
    ),
    grey: (
        1:#F1F1F1,
        2:#F5F6F8,

    ),
    text: (
        body:#757589,
        1:#F3C640,
    ),
    theme: (
        1: #FF3900, 

    ),
    border: (
        1: #000,
    )
);
