@use "../utils" as *;

// Home Page V-2 CSS Start Here


//Banner CSS Start
.banner__v2 {
    background: #FAFAFB;
    .banner__wrapper {
        .left__img {
            width: 450px;
            .sort__videos-wrapper {
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
                background: #fff;
                bottom: 80px;
                width: 400px;
                left: 235px;
                border-radius: 8px;
                .videoss {
                    .overlay__videoss {
                        position: relative;
                        
                        img {
                            width: 108px;
                            height: 108px;
                            border-radius: 8px;
                        }

                        &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: #002366;
                            opacity: 0.5;
                            top: 0;
                            left: 0;
                            z-index: 1; 
                            border-radius: 8px 0 0 8px;
                        }
                        i{
                            font-size: 50px;
                            z-index: 9;
                            position: absolute;
                            position: absolute;
                            left: 30px;
                            top: 42px;
                            color: #fff;
                        }
                    }

                    p {
                        margin: 0;
                        padding: 15px 20px;
                        font-size: 14px;
                    }
                }
            }
        }

        .middle__title{
            padding: 40px 40px 0 80px;
            h1{
                font-weight: 600;
                line-height: 100px;
                padding-bottom: 20px;
            }
            .text-stroke {
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--st-theme-1);
                font-family: "Poppins", sans-serif;
                font-size: 80px;
                font-weight: 600;
                line-height: 50px;
                color: white;
                padding-left: 140px;
                margin-bottom: 40px;
            }
    
            .simple__btnn {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px; 
                text-decoration-line: underline;
                margin-left: 140px;
                color: var(--st-theme-1);
            }
            .banner2__social{
                position: absolute;
                bottom: 28px;
                left: 0;
                ul{
                    display: flex;
                    justify-content: space-between;
                    li{
                        list-style-type: none;
                        a{
                            font-size: 14px;
                            padding: 0 14px;
                            color: #A0A3A9;
                        }
                    }
                }
            }
            .banner__bottom{
                padding-top: 55px;
                img{
                    width: 100%;
                }
            }
        }

        .right__img {
            width: 348px;

            div {
                left: 0;
                bottom: 0;
            }

            img {
                width: 100%;
            }
        }
    }
}
//Banner CSS End


//Shop By Categories CSS Start 
.shop__by--categories{
    .section__title{
        .sub__title{
            margin-bottom: 20px;
        }
    }
    .categories__wrapper{
        .categories2{
            display: flex;
            flex-direction: column;
            align-items: center;
            .categories2__img{
                img{
                    border-radius: 198px;
                    width: 100%;
                }
            }
            .categories2__content{
                flex-direction: column;
                display: flex;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                background: var(--st-common-white);
                justify-content: center;
                padding:20px;
                border-radius: 5px;
                align-items: self-start;
                margin-top: -40px;
                width: 236px;
                height: 84px;
                h6{
                    font-size: 18px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}
//Shop By Categories CSS End 

// Trends CSS Start Here
.trendss{
   .trends__left{
    position: relative;
    img{
        width: 100%;
    }
    .trends__features{
        border: 2px dotted #fff;
        width: 50px;
        height: 50px;
        color: #000;
        border-radius: 50%;
        position: absolute;
        top: 215px;
        right: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span{
            background: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all ease-in-out .3s;
            &:hover{
                background: var(--st-theme-1);
                color: #fff;
            }
        }
    }
   } 
   .trends__right{
    .section__title{
        span{
            font-size: 22px !important;
            margin-bottom: 10px !important;
        }
    }
    .trending__product{
        align-items: center;
        background: #FAFAFB;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 28px;
        .indexing{
            right: 0;
            bottom: -30px;
            h2{
                font-size: 80px;
                font-style: normal;
                font-weight: 600;
                line-height: 100px; 
                color: #F3F3F4;
                transform: rotate(-20deg);
            }
        }
        .trending__img{
            width: 144px;
            height: 165px;
            background: #F2F4F7;
            img{
                width: 100%;
            }
        }
        .trending__details{
            padding-left: 24px;
            h6{
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                margin-bottom: 8px;
            }
            span{
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
            }
            .price{
                font-size: 18px;
                margin-top: 8px; 
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                color: var(--st-theme-1);
            }
        }
    }
    .buy__all{
        padding-top: 32px;
        .explore__btn-2{
            padding: 16px 48px;
            text-align: center;
        }
    }
   }
}
// Trends CSS End Here




















// Home Page V-2 CSS End Here
