@forward 'components/theme';
@forward 'components/background';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/carousel';
@forward 'components/modal';
@forward 'components/section-title';
@forward 'components/breadcrumb';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/variables';
@forward 'components/menu';
@forward 'layout/header';
@forward 'layout/hero';
@forward 'layout/shopCat';
@forward 'layout/fProducts';
@forward 'layout/blog';
@forward 'layout/bestSelling';
@forward 'layout/tab';
@forward 'layout/shippingInfo';
@forward 'layout/limitedOffer';
@forward 'layout/footer';


