@import 'components/theme';
@import 'components/background';
@import 'components/spacing';
@import 'components/buttons';
@import 'components/carousel';
@import 'components/modal';
@import 'components/section-title';
@import 'components/breadcrumb';
@import 'components/animation';
@import 'components/preloader';
@import 'components/variables';
@import 'components/menu';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/shopCat';
@import 'layout/fProducts';
@import 'layout/blog';