@use '../utils'as *;

//Banner Css Start Here

.banner {
    .banner__wrapper {
        overflow: hidden;
        background: #FAFAFB;

        .banner__content {
            padding-left: 100px;

            .section__title {
                .sub__title {
                    font-size: 32px !important;
                    line-height: 40px !important;
                    margin-bottom: 0 !important;
                }

                h1 {
                    font-size: 60px !important;
                    line-height: 80px !important;
                    margin-bottom: 15px;
                }
            }

            .banner__p {
                p {
                    color: var(--gray-color-60, #70747D);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 60px !important;
                }
            }

            .banner__btn {
                a {
                    display: inline !important;
                }
            }

            .banner__social {
                margin-top: 100px;

                p {
                    color: var(--gray-color-100, #111827);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 0;
                }

                .p__social-icon {
                    padding-left: 8px;
                }

            }
        }

        .banner__image {
            padding-bottom: 30px;

            .banner__image-overlay-2 {
                position: relative;

                // &::after {
                //     position: absolute;
                //     content: "";
                //     width: 970px;
                //     top: -19px;
                //     height: 951px;
                //     left: 33px;
                //     background-color: var(--st-theme-1);
                //     border-radius: 50%;
                //     z-index: 1;
                // }
            }

            .banner__main-img {
                background-repeat: no-repeat !important;
                background-position: bottom center !important;
                background-size: contain !important;
                width: 100%;
                height: 920px;
                border-radius: 50%;
                margin-top: -365px;
                margin-left: 48px;
                position: relative;
                -o-object-fit: cover;
                object-fit: cover;
                z-index: 2;
                border: 5px solid var(--st-theme-1);

            }

            .banner__circle {
                top: 250px;
                right: -160px;
                z-index: 3;
                width: 400px;
                height: 400px;
                background: #fafafb;
                border-radius: 50%;
                overflow: hidden;
                padding-left: 50px;
                padding-top: 100px;

                h2 {
                    font-size: 3rem;
                    line-height: 3.5rem;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0);
                    -webkit-text-stroke: 2px var(--st-theme-1);
                    margin: 20px;

                    span {
                        color: var(--st-theme-1);
                    }
                }
            }

            .banner__playbtn {
                top: 71%;
                left: 90px;
                z-index: 2;
            }

            .right__overlay {
                right: 0px;
                top: 60%;
                z-index: 9;
            }

            .bottom_overlay {
                z-index: 0;
                bottom: 25px;
                left: 155px;
            }
        }
    }
}