@use '../utils'as *;

//Banner Css Start Here

.banner {
    .c__reverse{
        .row{
            @media #{$md,$sm,$xs}{
                flex-direction: column-reverse !important;
            }
        }
    }
    .banner__wrapper {
        overflow: hidden;
        background: #FAFAFB;

        .banner__content {
            padding-left: 100px;
            @media #{$lg,$xl,$md}{
                padding-left: 30px;
            }
            @media #{$sm,$xs}{
                padding-left: 15px;
                padding-right: 15px;
            }

            .section__title {
                .sub__title {
                    font-size: 32px !important;
                    line-height: 40px !important;
                    margin-bottom: 0 !important;
                    @media #{$lg,$md,$sm}{
                        font-size: 20px !important;
                        line-height: 30px !important;
                    }
                    @media #{$xs}{
                        font-size: 18px !important;
                        line-height: 24px !important;
                    
                    }
                }

                h2 {
                    font-size: 60px !important;
                    line-height: 80px !important;
                    margin-bottom: 15px;
                    @media #{$lg,$md,$sm}{
                        font-size: 40px !important;
                        line-height: 50px !important;
                    }
                    @media #{$xs}{
                        font-size: 28px !important;
                        line-height: 38px !important;
                        margin-bottom: 0px;
                        padding-bottom: 0 !important;
                    }
                    @media #{$sm}{
                        margin-bottom: 0px;
                        padding-bottom: 15px !important;
                    }
                }
            }

            .banner__p {
                p {
                    color: var(--gray-color-60, #70747D);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 60px !important;
                    @media #{$lg}{
                        margin-bottom: 30px !important;
                        font-size: 14px;
                    }
                    @media #{$xs}{
                        font-size: 14px !important;
                        line-height: 24px !important;
                        margin-bottom: 30px !important;
                    
                    }
                }
            }

            .banner__btn {
                a {
                    display: inline !important;
                }
            }

            .banner__social {
                margin-top: 100px;
                @media #{$sm,$xs,$md}{
                    margin-top: 50px;
                }
                p {
                    color: var(--gray-color-100, #111827);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin: 0;
                }

                .p__social-icon {
                    padding-left: 8px;
                    ul{
                        margin-bottom: 0 !important;
                    }
                }

            }
        }

        .banner__image {
            padding-bottom: 30px;
            @media #{$sm,$xs,$md}{
                margin-bottom: 30px;
            }
            .banner__image-overlay-2 {
                position: relative;
                z-index: 2;
            }

            .banner__main-img {
                z-index: 9;
                img{
                    border-radius: 50%;
                    width: 600px;
                    height: 600px;
                    object-fit: cover;
                    border: 5px solid var(--st-theme-1);
                    z-index: 9;
                    @media #{$xl}{
                        width: 450px;
                        height: 450px;
                    }
                    @media #{$lg}{
                        width: 400px;
                        height: 400px;
                    }
                    @media #{$md}{
                        width: 500px;
                        height: 500px;
                    }
                    @media #{$sm,$xs}{
                        width: 350px;
                        height: 350px;
                    }
                    @media #{$xs}{
                        width: 280px;
                        height: 280px;
                    }
                }

            }

            .banner__circle {
                top: 0;
                right: 0;
                z-index: 3;
                width: 200px;
                height: 200px;
                background: #fafafb;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--st-theme-1);
                @media #{$sm}{
                    width: 145px;
                    height: 145px;
                    right: 33px;
                }
                @media #{$xs}{
                    width: 110px;
                    height: 115px;
                    right: 13px;
                }
                @media #{$lg,$xl,$md}{
                    width: 150px;
                    height: 150px;
                
                }
                @media #{$md}{
                    right: 25px;
                }
                h2 {
                    font-size: 25px;
                    line-height: 32px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0);
                    -webkit-text-stroke: 1px var(--st-heading-primary);
                    margin: 20px;
                    text-align: center;
                    @media #{$xs}{
                        font-size: 18px;
                       line-height: 26px;
                    }
                    span {
                        color: var(--st-heading-primary);
                    }
                }
            }

            .banner__playbtn {
                top: 71%;
                left: 90px;
                z-index: 2;
                @media #{$sm,$xs}{
                    top: 80%;
                 }
                 @media #{$lg,$xl,$md}{
                    top: 78%;
                }
                img{
                    @media #{$sm,$xs}{
                       width: 50%;
                    }
                    @media #{$lg,$xl,$md}{
                        width: 80%;
                    }
                }
            }

            .right__overlay {
                right: 0px;
                top: 60%;
                z-index: 9;
            }

            .bottom_overlay {
                z-index: 0;
                bottom: 25px;
                left: 155px;
            }
        }
    }
}