@use '../utils' as *;

// Image Gallery CSS Start HEre
.image__gallery{
    .grid-item{
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        transition: all ease-in-out .3s;
        cursor: pointer;
        /* Indicates that it's clickable */

        &:hover .grid__overlay {
            opacity: 1;
            /* Show overlay on hover */
            pointer-events: auto;
            /* Allow interaction */
            padding: 0;
        }
        div{
            overflow: hidden;
            border-radius: 12px;
        }
       
    }
}
// Image Gallery CSS End HEre


// Testimonial CSS Start Here
.testimonial__wrapper{
    .swiper {
        padding: 20px;
    }
    .testimonial{
        padding: 40px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        @media #{$xl,$lg,$md,$xs} {
            padding: 20px;
        }
        .testimonial__title{
            border-bottom: 1px solid #E6E9F0;
            padding-bottom: 16px;
            .client__author{
                .client__img{
                    margin-right: 12px;
                    img{
                        width: 100%;
                    }
                }
                .client__des{
                    span{
                        font-size: 14px;
                    }
                }
            }
        }
        .testimonial__content{
            padding-top: 16px;
            p{
                color: #70747D;
                margin-bottom: 0;
                @media #{$xl,$lg,$md,$xs,$sm} {
                    font-size: 14px;
                }
            }
        }
        .client__reviews{
            padding-top: 16px;
            li{
                margin-right: 5px;
                i{
                    color: #FDB022;

                }
            }
        }
    }
}
// Testimonial CSS End Here


// 2nd Testimonial Section Start Here
.testimonial2__wrapper{
    .testimoniall{
        @media #{$xs}{
            flex-direction: column;
        }
        .testimoniall__img{
            max-width: 414px;
            height: 437px;
            width: 100%;
            @media #{$md}{
                max-width: 350px;
                height: 350px;
            }
            @media #{$sm,$xs}{
                max-width: 250px;
                height: 250px;
            }
            img{
                border-radius: 275.5px 275.5px 0px 275.5px;
                background: #E6E9F0;
                @media #{$md,$sm,$xs}{
                    width: 100%;
                }
            }
        }
        .testimonial__content{
            padding-left: 40px;
            @media #{$xs}{
                padding-left: 0;
                margin-top: 20px;
            }
            @media #{$sm,$lg}{
                padding-left: 25px;
            }
            img{
                margin-bottom: 28px;
            }
            p{
                border-bottom: 1px solid #E6E9F0;
                margin: 0;
                padding-bottom: 28px;
                @media #{$lg,$md,$sm,$xs}{
                    font-size: 14px;
                }
                @media #{$md,$lg,$sm,$xs}{
                    padding-bottom: 10px;
                }
                @media #{$xl}{
                    padding-bottom: 15px;
                }
            }
            .client__author{
                padding-top: 28px;
                @media #{$xs}{
                    flex-direction: column;

                }
                @media #{$md,$lg,$sm,$xs}{
                    padding-top: 10px;
                }
                @media #{$xl}{
                    padding-top: 15px;
                }
                .client__name{
                    span{
                        font-size: 14px;
                    }
                }
                .client__reviews{
                    @media #{$xs}{
                        margin-top: 10px;
                    }
                    li{
                        margin-left: 5px;
                        @media #{$xs}{
                            margin-right: 5px;
                            margin-left: 0;
                        }
                        i{
                            color: #FDB022;
        
                        }
                    }
                }
            }
        }
    }
    .paginations{
        position: absolute;
        bottom: 0;
        left: 454px;
        z-index: 9999;
        @media #{$md,$sm}{
            position: absolute;
            right: 0;
            z-index: 9999;
            top: 0;
            align-items: start;
            justify-content: end;
        }
        @media #{$xs}{
            right: 0;
            z-index: 9999;
            bottom: 0;
            align-items: start;
            justify-content: end;
            left: 0;
        }
        .post__btn-left{
            i{
                font-size: 25px;
                height: 50px;
                width: 50px;
                color: var(--st-theme-1);
                outline: 1px dashed var(--st-theme-1);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
            }
        }
        .post__btn-right{
            margin-left: 12px;
            i{
                font-size: 25px;
                height: 50px;
                width: 50px;
                color: var(--st-theme-1);
                outline: 1px dashed var(--st-theme-1);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
            }
        }
    }
}
// 2nd Testimonial Section End Here


// Countdown Timer Css start Here
.countdown__timer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
    @media #{$md,$sm,$xs}{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 35, 102, 0.5); /* Semi-transparent overlay */
        z-index: 1;
    }
    .counter__wrapper{
        position: relative;
        z-index: 2;
        .subtitle{
            color: #F04A00;
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;
            font-weight: 600;
            line-height: 40px; /* 125% */
            @media #{$md,$sm,$xs}{
                font-size: 18px;   
                line-height: 30px;
           }
        }
        .maintitle{
            font-size: 60px;
            font-weight: 700;
            line-height: 80px;
            @media #{$md}{
                 font-size: 50px;  
                 line-height: 60px;     
            }
            @media #{$sm}{
                 font-size: 40px;  
                 line-height: 50px;     
            }
            @media #{$xs}{
                 font-size: 35px;  
                 line-height: 45px;     
            }
            color: var(--st-common-white);
        }
        .counters{
            padding-top: 60px;
            @media #{$md,$sm,$xs}{
                padding-top: 20px;
            }
            .count{
                background:var(--st-heading-primary);
                width: 110px;
                height: 124px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 6px;
                @media #{$xs}{
                    height: 80px;
                }
                @media #{$sm}{
                    width: 100px;
                    height: 95px;
                }
                h3{
                    margin-bottom: 0;
                    padding-bottom: 0;
                    color: var(--st-common-white);

                }
                span{
                    color: var(--st-common-white);
                }
            }
        }
    }
}
// Countdown Timer Css End Here


// Pricing Plane Css Start Here
.pricing__plane{
    .pricing__btnn{
        margin-bottom: 60px;
        .pricing__btnn-wrapper{
            width: 300px;
            height: 60px;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            background: #F2F4F7;
            border-radius: 200px;
            align-items: center;
            a{
                width: 125px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 64px;
                font-weight: 600;
                &:hover{
                    background: #fff;
                    color: var(--st-theme-1);
                }
            }
            .active{
                background: #fff;
                color: var(--st-theme-1);
            }
        }
    }
    .plane{
        border-radius: 12px;
        border: 1px solid #E6E9F0;
        padding: 40px;
        margin-bottom: 30px;
        position: relative;
        @media #{$lg,$md,$xs}{
            padding: 20px;
        }
        .plane__title{
            border-bottom: 1px solid #E6E9F0;
            padding-bottom: 65px;
            h6{
                font-size: 32px;
                font-weight: 600;
                line-height: 40px;
            }
            .popular__overlay{
                position: absolute;
                width: 133px;
                height: 38px;
                transform: rotate(90deg);
                background: #F04A00;
                border-radius: 0px 18px 18px 0px;
                text-align: center;
                display: flex;
                align-items: center;
                color: #fff;
                justify-content: center;
                right: -45px;
                top: 7px;
                font-size: 14px;
                @media #{$lg,$md,$xs}{
                    top: 15px;
                    width: 110px;
                }
            }
            .pricee{
                width: 172px;
                height: 76px;
                border-radius: 0px 43.5px 43.5px 0px;
                background:  #FFF;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
                align-items: center;
                transition: background ease-in .3s;
                justify-content: center;
                bottom: -37px;
                left: -40px;
                @media #{$lg,$md,$xs}{
                    left: -20px;
                }
                span{
                    color: var(--st-heading-primary);
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 32px;
                }
                h4{
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 60px;
                    margin: 0;
                }
            }
            .prefer__color{
                background: var(--st-heading-primary);
                span, h4{
                    color: var(--st-common-white);
                }
            }
        }
        .plane__content{
            padding-top: 65px;
            ul{
                li{
                    padding: 20px 0;
                    border-bottom: 1px solid #E6E9F0;
                    display: flex;
                    @media #{$xs,$sm,$md}{
                        font-size: 14px;
                    }

                    i{
                        width: 24px;
                        font-weight: 600 !important;
                    }
                    i.fa-light.fa-check {
                        color: var(--st-theme-1);
                    }
                }
                .de-active{
                    color: #70747D;
                }
            }        
        }
        .pricing__btn{
            margin-top: 28px;
            .explore__btn{
                display: inline-block !important;
                padding: 16px 44px;
                border-radius: 12px;
            }
        }
    }
}
// Pricing Plane Css End Here