

@use '../utils' as *;

/*--
    - Menu
-----------------------------------------*/

.header__main-area {
    background: var(--st-theme-2);
    padding-top: 10px;
    padding-bottom: 10px;

    .browse__categories {
        background: #FFF2EB;
        display: flex;
        align-items: center;
        width: 300px;
        justify-content: center;
        padding: 5px 0;
        border-radius: 10px;
        @media #{$xs}{
            width: 265px;
             
          }

        img {
            width: 25px;
            height: 25px;
        }

        .nice-select {
            color: #334F85!important;
            font-weight: 500;
            font-size: 18px;
            border: none;
            background-color: transparent;
            line-height: 42px;
            @media #{$xs}{
               padding-left: 6px;
               padding-right: 15px;
                 
              }

            &::after {
                color: var(--st-heading-primary);
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    .main__menu {

        ul {
            display: flex;
            justify-content: space-between;
            @media #{$xl}{
                margin-left: 70px;
            }
            @media #{$lg}{
                margin-left: 100px !important;
            }

            li {
                list-style: none;

                font-size: 18px;

                a {
                    color: #fff;
                    font-weight: 500;
                    transition: color 0.3s, border-bottom 0.3s;
                    position: relative;
                    @media #{$xl,$lg}{
                        font-size: 15px;
                    }

                    &:hover{
                        color: var(--st-theme-1);
                    }
                    &:focus{
                        color: var(--st-theme-1);

                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 3px;
                        /* Thickness of the line */
                        background-color: var(--st-theme-1);
                        /* Line color */
                        position: absolute;
                        bottom: 30px;
                        left: 0;
                        z-index: 99;
                        transition: width 0.3s;
                        /* Smooth transition for the line width */
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:focus::after {
                        width: 100%;
                        /* Line expands to full width on hover */

                    }

                    img {
                        padding-right: 8px;
                    }
                }
            }
        }
    }

    .support__center {
        justify-content: end;

        img {
            width: 30px;
            height: 30px;
            margin-right: 15px;
        }

        .help__no {
            span {
                font-size: 18px;
                color: #fff;
                font-weight: 500;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 14px;
                color: #fff;
            }
        }
    }


}



.menu-item {
    position: relative;

    &:hover .mega-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .mega-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: -150px;
        background-color: #fff;
        color: #0f0a0a;
        width: 100vh;
        /* Full viewport width */
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transform: translateY(20px);
        border-top: 6px solid var(--st-theme-1);

        /* Optional: Adds a colored border at the top */
        .mega-menu-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .section {
                flex: 1;
                min-width: 250px;
                /* Adjust as needed */
                margin: 10px;
                padding: 10px;
                border-radius: 8px;

                ul {
                    display: flex;
                    flex-direction: column;
                    border-right: 2px solid var(--st-theme-1);

                    li {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 20px;

                        a {
                            color: var(--st-heading-1);
                            transition: color 0.3s, border-bottom 0.3s;
                            position: relative;

                            &::after {
                                content: '';
                                display: block;
                                width: 0;
                                height: 3px;
                                /* Thickness of the line */
                                background-color: rgb(4, 4, 54);
                                /* Line color */
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                z-index: 99;
                                transition: width 0.3s;
                                /* Smooth transition for the line width */
                            }

                            &:hover {
                                color: var(--st-theme-1);
                            }

                            &:hover::after {
                                width: 100%;
                            }

                            &:focus::after {
                                width: 100%;
                                /* Line expands to full width on hover */

                            }
                        }
                    }
                }
            }

            h2 {
                margin-top: 0;
                font-size: 18px;
                color: #333;
            }

            .images {
                display: flex;
                flex-direction: column;

                img {
                    max-width: 200px;
                    height: 200px;
                    object-fit: cover;
                    margin-top: 10px;
                    border-radius: 5px;
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }

    }

}


/* Responsive adjustments */
@media (max-width: 768px) {
    .mega-menu {
        width: 100%;
        left: 0;
    }

    .mega-menu-content {
        flex-direction: column;
    }

    .section {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
}

.br-t {
    border-right: 2px solid var(--st-theme-1);
}


//Mobile Menu CSS
#mobileMenu i{
    display: none;
}
@media only screen and (max-width: 991px){
    .main__menu{
        display: none;
    }
    #mobileMenu i{
        display: block !important;
        color: var(--st-common-white);
    }
}


  .mobile__menu {
	position: absolute;
	width: 100%;
	left: 0;
	height: 70vh;
    display: none;
	z-index: 99;
	background: rgba(0, 0, 0, 0.9) !important;
	top: 188px;
	text-align: center;
	padding: 30px;
    @media #{$xs}{
        top: 252px;
         
      }
    nav{
        ul{
            li{
                list-style: none;
                display: flex;
                font-size: 20px;
                color: var(--st-theme-1);
                margin: 20px 0;
                img{
                    margin-right: 5px;
                }
            }
        }
    }
}   