
@use '../utils' as *;

.section__title{
    span{
        margin-bottom: 40px;
    }
}
.sub__title{
    font-size: 30px;
    font-weight: 600;
    color: var(--st-theme-1);
}
.main__title{
    line-height: 90px;
    @media #{$xs,$sm}{
        font-size: 35px !important;
        line-height: 45px !important;
    }
    @media #{$md}{
        font-size: 40px !important;
        line-height: 50px !important;
    }
    @media #{$lg,$xl}{
        font-size: 50px !important;
        line-height: 60px !important;
    }
    span{
        color: var(--st-theme-1);
    }
}

h3{
    @media #{$xs,$sm}{
        font-size: 35px !important;
        line-height: 45px !important;
    }
}
h4{
    @media #{$xs,$sm}{
        font-size: 25px !important;
        line-height: 35px !important;
    }
}

h5{
    @media #{$xs,$sm}{
        font-size: 20px !important;
        line-height: 30px !important;
    }
}
h6{
    @media #{$xs,$sm}{
        font-size: 18px !important;
        line-height: 28px !important;
    }
}