
@use '../utils' as *;


section{
    padding-top: 7rem;
    @media #{$md,$lg}{
       padding-top: 5rem;
    }
    @media #{$sm,$xs}{
        padding-top: 3rem;
     }
}
.shipping__info{
    padding-bottom: 7rem;
    @media #{$md,$lg}{
        padding-bottom: 5rem;
     }
     @media #{$sm,$xs}{
        padding-bottom: 3rem;
      }
}
.section__title{
    span{
        margin-bottom: 40px;
        @media #{$xs,$sm,$md}{
            margin-bottom: 15px;
        }
    }
}
.sub__title{
    font-size: 30px;
    font-weight: 600;
    color: var(--st-theme-1);
    display: block;
    @media #{$xs,$sm}{
        font-size: 18px;
    }
    @media #{$md}{
        font-size: 20px;
    }
    @media #{$lg,$xl}{
        font-size: 28px;
    }
}
.main__title{
    line-height: 90px;
    @media #{$xs}{
        font-size: 30px !important;
        line-height: 38px !important;
        padding-bottom: 20px !important;
    }
    @media #{$sm}{
        font-size: 35px !important;
        line-height: 45px !important;
        padding-bottom: 30px !important;
    }
    @media #{$md}{
        font-size: 40px !important;
        line-height: 50px !important;
    }
    @media #{$lg,$xl}{
        font-size: 50px !important;
        line-height: 60px !important;
    }
    span{
        color: var(--st-theme-1);
    }
}
.tab__title{
    @media #{$xs,$sm}{
        padding-bottom: 50px !important;
    }

}
h3{
    @media #{$xs,$sm}{
        font-size: 30px !important;
        line-height: 40px !important;
    }
}
h4{
    @media #{$xs,$sm}{
        font-size: 24px !important;
        line-height: 34px !important;
    }
}

h5{
    @media #{$xs,$sm}{
        font-size: 20px !important;
        line-height: 30px !important;
    }
}
h6{
    @media #{$xs,$sm}{
        font-size: 18px !important;
        line-height: 28px !important;
    }
}