@use '../utils' as *;

//   06.BEST SELLING CSS START

.best__selling-item{
    .swiper-button-next, .swiper-button-prev {
        display: block !important;

        height: 40px;
        width: 40px;
        color: var(--st-theme-1);
        outline: 1px dashed var(--st-theme-1);
        border-radius: 50%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        i {
            font-size: 20px;



        }
        &::after{
            display: none;
        }
    }
    .selling__wrapper{

        border: 3px solid #F8F8F8 ;
        border-radius: 12px;
        @media #{$md, $lg, $sm}{
            margin-bottom: 40px;
        }
        .swipper__btn{
            right: 20px;
            top: 70px;
            .swiper-button-prev{
                left: -125px;
                position: absolute;
            }
        }
        h4{
            font-size: 30px;
            line-height: 45px;
            background: #F8F8F8;
            padding: 44px 20px;
            border-radius: 12px;
            margin-bottom: 30px;
        }
        .b__product{
            width: 85%;
            margin: 35px auto;
            align-items: center;
            background: #F8F8F8;
            border-radius: 12px; 
            &:hover .b__product-img img{
                transform: scale(1.1) translate(4px, 4px); /* Zooms in the image and translates it */
            }
            .b__product-img{
                padding: 15px 30px;
                border-radius: 12px 0 0 12px;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: transform 0.4s ease, translate 0.4s ease; /* Smooth transition for both scale and translate */
                }
            }
            .b__product-content{
                margin-left: 30px;
                h6{
                    font-size: 18px;
                    margin: 0;
                    padding-bottom: 7px !important;
                }
                span{
                    font-size: 14px;
                }
                p{
                    padding-top: 12px !important;
                    font-size: 18px;
                    color: var(--st-theme-1);
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
