@use '../utils'as *;

// 05 Blog CSS START

.blog-show {
    .blog__author{
        a{
            @media #{$xs,$sm,$md, $lg}{
                margin-top: 15px;
            }
        }
    }
}
.blog-post {
    @media #{$xs,$sm,$md, $lg}{
        margin-bottom: 30px;
    }
    .blog__img{
        border-radius: 12px;
        overflow: hidden;
        &:hover img{
            transform: scale(1.1) translate(4px, 4px);
        }
        img{
            transition: transform 1s ease, translate 1s ease; 
        }
    }
    .blog__author{
        transition: color .3s ease-in;
        margin-top: 20px;
        margin-bottom: 10px;
        &:hover{
            color: var(--st-theme-1);
        }
        @media #{$xs,$sm,$md,$lg}{
            margin-top: 5px;
        }
        a{
            display: flex;
            align-items: center;
            font-size: 14px;
            img{
                margin-right: 10px;
                @media #{$xs,$sm,$md,$lg,$xl,$xxl}{
                    margin-left: 5px;
                    margin-right: 5px;
                   
                }
            }

        }
    }
    .small__blog-author {
        margin-top: 0 !important;
        a{
            line-height: 40px;
        }
        h4{
            @media #{$xs,$sm,$md,$lg}{
                margin-top: 15px;
            }
        }
    }
    h4{
        transition: color .4s ease-in-out;
        @media #{$xs,$sm,$md,$lg,$xl}{
           font-size: 25px;
           line-height: 40px;
           
        }
        &:hover{
            color: var(--st-theme-1);
        }
    }
}
.blog__views{
    img{
        width: 20px;
    }
}
.main__title {
    text-transform: capitalize;
}
.f__product-small{
    @media #{$xs}{
       margin-bottom: 30px;
        
     }
}
.blog-show{
    .blog__author{
        @media #{$xs,$sm}{}
        flex-direction: column !important;
        align-items: start !important;
    }
}

.small__p-wrapper{
    margin-bottom: 30px;
    @media #{$md,$sm,$lg,$xl,$xxl, $xxxl}{
       margin-bottom: 30px;
        
     }
}