@use '../utils'as *;

// 05 Blog CSS START

.blog-post {
    .blog__img{
        border-radius: 24px;
        overflow: hidden;
        &:hover img{
            transform: scale(1.1) translate(4px, 4px);
        }
        img{
            transition: transform 1s ease, translate 1s ease; 
        }
    }
    .blog__author{
        transition: color .3s ease-in;
        margin-top: 20px;
        margin-bottom: 10px;
        &:hover{
            color: var(--st-theme-1);
        }
        a{
            display: flex;
            align-items: center;
            word-spacing: 2px;
            img{
                margin-right: 10px;
            }
        }
    }
    .small__blog-author {
        margin-top: 0 !important;
        a{
            line-height: 40px;
        }
    }
    h4{
        transition: color .4s ease-in-out;
        &:hover{
            color: var(--st-theme-1);
        }
    }
}
.blog__views{
    img{
        width: 20px;
    }
}
.main__title {
    text-transform: capitalize;
}