@use '../utils' as *;




//  FEATURES PRODUCTS CSS START

.featured__products{
    .f__products-wrapper{
        .product__carousel{
            .f__product{
             .f__product-img{
                img{

                }
                .featured__author{
                    .f__p-content{
                        span{
    
                        }
                        h6{
    
                        }
                        ul{
                            li{
    
                            }
                        }
                    }
                    .f__p-price{
                        .old__price{

                        }
                        .current__price{
                            
                        }
                    }
                }
             }   
            }
        }
        .small__p-wrapper{
            .f__product-small{

            }
        }
    }
}

.f__product-1{
    background: #EFE8E3;
}
.f__product-2{
    background: #FAF6E5;
}
.f__product-3{
    background: #FFE8F1;
}
.f__product-4{
    background: #E6F1F2;
}
.f__product-5{
    background: #E9F0FF ;
}
.f__product-6{
    background: #FFEDEF;
}