@use '../utils' as *;
//  FEATURES PRODUCTS CSS START
// .featured__products{
//     .f__products-wrapper{
//         .f__product{
//             .f__product-img{
//                 border-radius: 8px;
//             } 
//         }
//     }
// }

.f__product-img{
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    }
    &:hover img{
        transform: scale(0.9) translate(4px, 4px); /* Zooms in the image and translates it */
    }
    img{
        transition: transform 0.4s ease, translate 0.4s ease; /* Smooth transition for both scale and translate */
    }
}
.f__product{
    border-radius: 10px;
} 

.product__carousel{
    height: 1130px !important;
    .swiper-button-next, .swiper-button-prev {
        display: block;

    }
    .f__product-img{
        img{
            height: 1022px;
            object-fit: cover;
        }
    }

    .swiper-button-next{
        right: 25px !important;
    }
    .swiper-button-next, .swiper-button-prev {
        display: block;
        i {
            font-size: 20px;
            height: 40px;
            width: 40px;
            color: var(--st-theme-1);
            outline: 1px dashed var(--st-theme-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
        }
        &::after{
            display: none;
        }
    }
}
.f__product-img{
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
    &:hover img{
        transform: scale(0.9) translate(5px, 5px); /* Zooms in the image and translates it */
    }
    img{
        transition: transform 0.4s ease, translate 0.4s ease; /* Smooth transition for both scale and translate */
    }
}
.featured__author{
    justify-content: space-between;
    padding-top: 10px;
    .f__p-content{
        span{
            font-size: 14px;
        }
        h6{
            font-size: 18px;
        }
        ul{
            li{
                width: 10px;
                height: 10px;
                list-style: none;
                margin-right: 7px;
            }
        }
    }
    .f__p-price{
        .old__price{
            font-size: 14px;
            display: flex;
            justify-content: end;
            text-decoration: line-through;
        }
        .current__price{
            font-size: 24px;
            color: var(--st-theme-1);
            font-weight: 600;
        }

    }
}

.small__p-wrapper{
    .f__product-small{
        .f__product-img{
            img{
                padding: 30px 0;
                height: 450px;
            }
        }
    }
}

.f__product-1{
    background: #EFE8E3;
}
.f__product-2{
    background: #FAF6E5;
}
.f__product-3{
    background: #FFE8F1;
}
.f__product-4{
    background: #E6F1F2;
}
.f__product-5{
    background: #E9F0FF ;
}
.f__product-6{
    background: #FFEDEF;
}

.brown{
    background: #D7AE90;
}
.green{
    background: #6A7865;
}
.red{
    background: #88364C;
}
.blue{
    background: #5159BB;
}

//Best Selling Products Background

.bp-1{
    background: #FFE8F1;
}
.bp-2{
    background: #FBF4D5;
}
.bp-3{
    background: #E6F1F2 ;
}
.bp-4{
    background: #EFE8E3;
}
.bp-5{
    background: #D9EDFF;
}
.bp-6{
    background: #FFF2EB;
}
.bp-7{
    background: #EDF7F5;
}
.bp-8{
    background: #FFE8F1;
}
.bp-9{
    background: #DFF3FF;

    background: #F8F8F8;
}
.swiper-button-next {
    right: 33px !important;
}