@use '../utils' as *;


//   02. HEADER CSS START

.container-fluid{
	width: 90% !important;
}
.header__area{
	.header__top-area{
		@media #{$sm,$xs}{
			display: none;
		  }
		background: #111827;
		.top__nav{
			@media #{$xs}{
				text-align: start !important;
				padding-right: 28px;
			}
			ul{
				li{
					display: inline;
					padding-right: 10px;
					padding-left: 10px;
					a{
						font-size: 14px;
						line-height: 21px;
						color: #B9B9B9;
						&:hover{
							color: var(--st-text-1);
						}
					}
				}
			}
		}
		.header__notification{
			position: relative;
			width: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			overflow: hidden;
			height: 40px; /* Adjust as needed */
			line-height: 40px; 
			.notification{
				position: absolute;
				width: 100%;
				opacity: 0;
				transform: translateY(-100%);
				transition: opacity 0.5s ease-in, transform 0.5s ease-out;

			}
			p{
				margin: 0;
				padding: 0;
				font-size: 14px;
				line-height: 21px;
				color: #f5ba68;
				transition: all ease-in-out .5s;
				cursor: pointer;
				&:hover{
					color: var(--st-theme-1);
				}
			}
		}
		.lanCur__changer{
			@media #{$xs}{
				justify-content: left !important;
			}
		}
	}
	.header__mid-area{
		padding-top: 20px;
		padding-bottom: 20px;
		.logo{
			@media #{$xs}{
				text-align: center;
			}
			img{
				width: 200px;
			}
		}
		.search__bar{
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			.search__category {
				background-color: #F3F3F3;
				width: 80%;
				display: flex;
				align-items: center;
				border-radius: 10px;
			}
			.search__feild{
				width: 100%;
				input[type="search"]{
					border: none;
					outline: none;
					background: transparent;
					width: 90%;
					padding-left: 20px;
				}
				input::placeholder{
					font-size: 16px;
					color: #757589;
					font-weight: 500;
				}

				.search__icon{
						background: var(--st-theme-1);
						width: 75px;
						padding: 10px 0;
						border-radius: 0px 10px 10px 0;
						@media #{$lg,$xl}{
							width: 50px;
						}
				}

			}
	
		}
		.wishlist__account{
			ul{
				display: flex;
				justify-content: end;
				align-items: center;
				@media #{$xs}{
					justify-content: center;
					padding-top: 20px;
				}
				li{
					list-style: none;
					margin-left: 25px;
					text-align: center;
					display: flex;
					font-size: 16px;
					font-weight: 500;
					color: var(--st-heading-primary);
					&:hover{
						color: var(--st-theme-1);
					}
					@media #{$xs,$sm,$md,$lg,$xl,$xxl}{
						margin-left: 20px;
					}
					a{
						img{
							margin-right: 8px;
						}
					}
				}
				.wishlist{
					position: relative;
					&::before{
						position: absolute;
						content: '0';
						background: var(--st-theme-1);
						color: #fff;
						display: flex;
						width: 20px;
						height: 20px;
						font-size: 12px;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						top: -6px;
						left: 15px;
					}
				}
				.shop{
					position: relative;
					&::before{
						position: absolute;
						content: '5';
						background: var(--st-theme-1);
						color: #fff;
						display: flex;
						width: 20px;
						font-size: 12px;
						height: 20px;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						top: -6px;
						left: 15px;
					}
				}
			}
		}

	}
	
}

.br{
	border-right: 1px solid #fff;
}
.lanCur__changer > .nice-select {
     -webkit-tap-highlight-color: transparent;
     background-color: transparent !important;
     border-radius: 0 !important;
     border: none !important;
     box-sizing: border-box;
     clear: none !important;
     cursor: pointer;
     display: block;
     float: none !important; 
	 color: #B9B9B9;
}
.lanCur__changer > .nice-select .list{
	color: var(--st-theme-1);
}
.s__c > .nice-select {
	color: var(--st-heading-primary) !important;
    font-weight: 600;
    font-size: 16px;
    border: none;
	background-color: transparent;
	&::after{
		color: var(--st-heading-primary);
		font-weight: 600;
		font-size: 16px;
	}
}