@use '../utils' as *;


//   02. HEADER CSS START


.header__area{
	.header__top-area{
		background: var(--st-heading-primary);
		.top__nav{
			@media #{$md, $sm}{
				text-align: left;
			}
			ul{
				li{
					display: inline;
					padding-right: 10px;
					padding-left: 10px;
					a{
						font-size: 14px;
						line-height: 21px;
						color: #B9B9B9;
						&:hover{
							color: var(--st-text-1);
						}
					}
				}
			}
		}
		.header__notification{
			p{
				margin: 0;
				padding: 0;
				font-size: 14px;
				line-height: 21px;
				color: var(--st-text-1);
			}
		}
		.lanCur__changer{
			@media #{$sm, $xs}{
				justify-content: center;
			}
		}
	}
	.header__mid-area{
		.logo{
			img{
				width: 140px;
			}
		}
		.search__category {
		}
	}
	
}

.br{
	border-right: 1px solid #fff;
}
.lanCur__changer > .nice-select {
     -webkit-tap-highlight-color: transparent;
     background-color: transparent !important;
     border-radius: 0 !important;
     border: none !important;
     box-sizing: border-box;
     clear: none !important;
     cursor: pointer;
     display: block;
     float: none !important; 
	 color: #B9B9B9;
}
.search__category > .nice-select {
	color: var(--st-heading-primary) !important;
    font-weight: 600;
    font-size: 17px;
    border: 1px solid #fdecec !important;
	background-color: #f05858 !important;
}