@use '../utils' as *;


//   03. HERO CSS START



.hero__area{
    /* Navigation arrows (next and previous) */
    .swiper-button-next,
    .swiper-button-prev {
    display: none;
    }
    z-index: -2;
    padding-top: 70px;
    background-color: #FFF2EB !important;
    background: url(/assets/img/hero/hero-line.png) center center no-repeat,
    url(/assets/img/hero/hero\ shape.png) top right no-repeat;
    p{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .heroBtn__wrapper{
        .simple__button{
            font-size: 18px;
            font-weight: 600;
            color: var(--st-heading-primary) !important;
            margin: 0 25px;
            &:hover{
                color: var(--st-theme-1) !important;
            }
        }
        .play__btn{
            font-size: 45px;
            color: var(--st-theme-1);
            &:hover{
                color: var(--st-heading-primary);
            }
        }
    }
    .hero__image{
        z-index: 3;
        .hero__overlay{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                width: 600px;
                height: 600px;
                border-radius: 50%;
                background: rgba(230, 98, 34, 0.10);
                top: -30px;
                left: 30px;
            }
        }
        .hero__overlay-2{
            &::before{
                background: rgba(122, 38, 58, 0.10);
            }
        }
        .hero__overlay-3{
            &::before{
                background: rgba(208, 184, 149, 0.25);
            }
        }
        a{
            img{
                width: 80%;
            }

        }
    }
}
.hero__area-2{
    background-color: #FFF0EA !important;
    span{
        color: #C23B5A !important;
    }
}
.hero__area-3{
    background-color: #FFF5E7 !important;
    span{
        color: #AF874C !important;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    transition: transform 1.5s ease-in-out; /* Match this with your Swiper speed */
  }


/* Pagination container */
.swiper-pagination {
    bottom: 10px; /* Adjust positioning as needed */
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Pagination bullets */
  .swiper-pagination-bullet {
    display: inline-block;
    width: 25px !important; /* Adjust width to accommodate text and gap */
    height: 25px !important; /* Size of the bullet */
    border-radius: 50%; /* Makes the bullets circular */
    background-color: #816a6a; /* Default background color */
    color: #000; /* Default text color */
    font-size: 16px !important; /* Font size */
    line-height: 25px !important; /* Vertical alignment */
    font-size: 18px; /* Font size */
    line-height: 30px; /* Vertical alignment */
    margin: 0 10px !important; /* Spacing between bullets, half of the 30px gap */
    text-align: center;
    cursor: pointer;
    font-weight: 500 !important;
    position: relative; /* For positioning the line */
  }
  
  /* Style for the active bullet */
  .swiper-pagination-bullet-active {
    background-color: var(--st-theme-1); /* Active bullet background color */
    color: #fff; /* Active bullet text color */
  }
  
  /* Adding a separator line */
  .swiper-pagination-bullet:not(:last-child)::after {
    content: "";
    display: block;
    width: 16px !important;
    height: 1px !important;
    background-color: #6c6a6a !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 27px !important;
}
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 50px !important;
    left: -40.8% !important;
    width: 100% !important;
} 

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 55px;
	display: block;
    left: 5%;
}

