@use '../utils' as *;


//   09. Shipping CSS START

.shipping__info{
    .container{
        max-width: 1500px;
    }
    .free__shipping{
        padding: 20px;
        border: 1px solid #fff;
        justify-content: left;
        transition: border-color 0.5s ease, color 0.5s ease;
        &:hover{
            border-color: var(--st-theme-1);
        }
        .shipping__content{
            a{
                h6{
                    line-height: 24px;
                    margin: 0;
                }
            }
            p{
                font-size: 14px;
                margin: 0;
            }
        }
    }
}


// 10. CTA CSS START HERE
.cta__section{
    @media #{$xs,$sm}{
        padding-bottom: 200px;
    }
    h3{
        color: var(--st-common-white);
    }
    p{
        color: var(--st-common-white);
    }
    form{
        margin-top: 30px;
        input[type="email"]{
           padding: 0 15px;
            border-radius: 10px 0  0 10px;
            border: none;
            outline: none;
            height: 50px;
            &::placeholder{
                color: var(--st-grey-1);
            }
            @media #{$xs,$sm}{
                width: 60%;
               
            }
        }
        button{
            height: 50.5px;
            background: red;
            color: #fff;
            font-weight: 600;
            margin: 0 0 0 -6px;
            border: none;
            padding: 0 30px;
            border-radius: 0 10px 10px 0;
            outline: none;
            @media #{$xs,$sm}{
                padding: 0 15px;
               
            }
        }
    }
}


// 11. SOCIAL EVENTS CSS START HERE
.social__events{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: absolute;
    right: 10%;
    background: #fff;
    padding: 30px 20px;
    margin-top: -35px;
    border-radius: 10px;
    @media #{$xs,$sm}{
       margin-top: -140px;
    }
    .social__icon-f{
        nav{
            ul{
                display: flex;
                @media #{$lg,$md,$sm,$xs}{
                    justify-content: center;
                    margin-bottom: 25px;
                }
                li{
                    margin: 0 15px;
                    list-style: none;
                    @media #{$xs}{
                        margin: 0 7px;
                    }
                    @media #{$sm}{
                        margin: 0 10px;
                    }
                    i{
                        font-size: 30px;
                        color: var(--st-heading-primary);
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #F2F4F7;
                        border-radius: 50%;
                        transition: background-color 0.3s ease-in, color 0.3s ease-in-out;
                        @media #{$xs}{
                            width: 30px;
                            height: 30px;
                            font-size: 24px;
                        }
                        @media #{$sm}{
                            width: 35px;
                            height: 35px;
                            font-size: 26px;
                        }
                        &:hover{
                            background: var(--st-theme-1);
                            color: var(--st-common-white);
                        }
                    }
                }
            }
        }
    }
    .footer__navigations{
        ul{
            display: flex;
            justify-content: end;
            align-items: center;
            @media #{$lg,$md,$sm,$xs}{
                justify-content: center;
            }
            @media #{$xs,$sm}{
                flex-direction: column;
            }
            li{
                list-style: none;
                padding-left: 27px;
                @media #{$xs,$sm}{
                    padding: 10px 0;
                }
                a{
                    color: #414652;
                    &:hover{
                        color: var(--st-theme-1);
                    }
                }
                &:last-child{
                    margin-right: 20px;
                }
            }
        }
    }
}