@use '../utils'as *;

.category-1{
    background-color: #E5E6ED !important;
}
.category-2{
    background-color: #FFEBE5 !important;
}
.category-3{
    background-color: #EFEEEE !important;
}
.category{
    overflow: hidden;
    &:hover .category__img img{
        transform: scale(1.1) translate(5px, 5px); /* Zooms in the image and translates it */
    }
    .category__author{
        h5{
            font-size: 30px;
        }
        span{
            margin-bottom: 30px !important;
        }
        .count__products{
            bottom: -110px;
            a{
                display: flex;
                align-items: center;
                img{
                    margin-right: 8px;
                }
                font-size: 18px;
                line-height: 27px;
                font-weight: 600;
                color: var(--st-heading-primary);
            }
        }
    }
    .category__img{
        img{
            transition: transform 0.4s ease, translate 0.4s ease;
        }
    }
    
}


// <!-- Social Media Engagement Section Start -->

.social__engage{
    .social__engage-wrapper{
        text-align: center;
        div{
            display: inline-block;
            overflow: hidden;
            margin: 0 20px;
            &:hover img{
                transform: scale(1.1) translate(4px, 4px); /* Zooms in the image and translates it */
            }
        }
        img{
            width: 100%;
            height: 350px;
            transition: transform 0.4s ease, translate 0.4s ease; /* Smooth transition for both scale and translate */


        }
    }
}