@use '../utils' as *;
//   04. SHOP CATEGORY CSS START

.shop__categories{
    .categores{
        .categores__overlay{
            p{
                font-size: 18px;
            }
        }
    }
    .man__cat{
        background: #EDF7F5;
    }
    .women__cat{
        background: #EDF8FF;
    }
    .kids__cat{
        background: #FAF6E5;
    }
}