@use '../utils'as *;

.category-1{
    background-color: #E5E6ED !important;
}
.category-2{
    background-color: #FFEBE5 !important;
    padding: 6px 0;
}
.category-3{
    background-color: #EFEEEE !important;
}
.category{
    overflow: hidden;
    @media #{$xs, $sm, $md,$lg,$xl}{
        margin-bottom: 30px;
          
       }
       @media #{$md,$lg}{
       height: 320px;
          
       }
    &:hover .category__img img{

        transform: scale(1.1) translate(5px, 5px); /* Zooms in the image and translates it */
    }
    .category__author{
        @media #{$md,$lg}{
           padding-left: 15px;
             
          }
        h5{
            font-size: 30px;
        }
        span{
            margin-bottom: 30px !important;
        }
        .count__products{
            bottom: -90px;
            @media #{$md,$lg,$xl,$xs}{
                bottom: -40px;
                  
               }
            a{
                display: flex;
                align-items: center;
                img{
                    margin-right: 8px;
                }
                font-size: 18px;
                @media #{$md,$lg,$xl,$xs}{
                    font-size: 14px;
                      
                   }
                line-height: 27px;
                font-weight: 600;
                color: var(--st-heading-primary);
            }
        }
    }
    .category__img{
        img{
            transition: transform 0.4s ease, translate 0.4s ease;
            width: 100%;
        }
    }
    
}


// <!-- Social Media Engagement Section Start -->

.social__engage{
    .social__engage-wrapper{
        text-align: center;
        div{
            display: inline-block;
            overflow: hidden;
            &:hover img{
                transform: scale(1.1) translate(4px, 4px); /* Zooms in the image and translates it */
            }
        }
        img{
            width: 100%;
            height: 350px;
            transition: transform 0.4s ease, translate 0.4s ease; /* Smooth transition for both scale and translate */


        }
    }
}