@use '../utils' as *;


//   08. TAB CSS START

.tab__area{
    .tab__product{
        .f__product-img{
            background: #f8f8f8;
            text-align: center;
            position: relative;
            &:hover .overlay {
                opacity: 1;
              }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                .icons{
                    position: absolute;
                    bottom: 40px;

                }
                i{
                    font-size: 27px;
                    height: 50px;
                    width: 50px;
                    background: var(--st-common-white);
                    vertical-align: middle;
                    line-height: 50px;
                    color: var(--st-theme-1);
                    font-weight: 400;
                    margin: 0 4px;
                    border-radius: 3px;
                    &:hover{
                        background-color: var(--st-theme-1);
                        color: var(--st-common-white);
                    }
                }
              }
            .img-fluid{
                width: 90% !important;
            }
        }
    }
    .swiper-button-next{
        display: block;
        right: 20px !important;
        i {
            font-size: 20px;
            height: 40px;
            width: 40px;
            color: var(--st-theme-1);
            outline: 1px dashed var(--st-theme-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;

        }
        &::after{
            display: none;
        }
    }
}

 /* Style the tab */
 .tab {
    right: 0;
    bottom: 80px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    color: var(--st-gray-1);
    font-size: 32px;
    line-height: 47px;
    font-weight: 500 !important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 40px;
    border-bottom: 1px solid #ccc;
    &:last-child{
        margin-right: 0;
    }
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: 1px solid var(--st-theme-1);
    color: var(--st-theme-1);
  }
  

#London{
    display: block;
}
.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }